body {
  margin: 0px;
  padding-left: 0px;
  font-family: "Raleway", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #667292;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 3em;
  width: 100%;
  margin-left: 1em;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
  text-decoration: none;
  color: #daebe8;
  height: 3em;
}

.header-nav a:hover {
  background-color: #8d9db6;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles-navigation {
  background-color: #87bdd8;
  min-width: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 3em);
}

.articles-navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 1em;
  color: #daebe8;
  min-width: 15vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articles-navigation a:hover {
  background-color: #b7d7e8;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 3em);
  background-color: #cfe0e8;
  width: 70vw;
}

.articles article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
}

.articles article picture {
  margin-right: 1em;
}

.articles article-content {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15vw;
  background-color: #bccad6;
  padding: 1em 0.5em 1em 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside .destacado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #daebe8;
  height: 3em;
  background-color: #667292;
  font-weight: 300;
}
/*# sourceMappingURL=styles.css.map */